{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": "off",
    "import/no-unresolved": "off",
    "require-jsdoc": "off",
    "switch-colon-spacing": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  }
}
